@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.active{
    color:#FB7B53;
}


body {
  @apply bg-gradient-to-b from-[#e3d7ca] to-[#F5EBDD];
}